body
{
   font-size: 1em !important;
   color: #000 !important;
   font-size: 12px;
   font-family: Arial !important;
}

/*------------------------OVERLAYS---------------------------*/
ul {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  font-color: #ffffff;
  text-align: left;
}

ol {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  font-color: #ffffff;
  text-align: left;
}

#overlay1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay3 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay4 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay5 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay6 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay7 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay8 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay9 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay10 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay11 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

#overlay12 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  overflow-y: scroll;
}

/*#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);

}
*/
/*.txt{
  color: black;
}*/

/*-------------DROPDOWN FILTER FOR ALL RECIPES PAGE-----------*/
.dropbtn {
  background-color: #999;
  color: white;
  padding: 12px;
  font-family: arial;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #000;
  font-color: #fff;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  font-family: arial;
  font-size: 12px;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*--------SORT-------*/
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.container {
  align: center; 
  width:70%;
  height: 50%;
}

/*------------------------HOVER TEXT---------------------------*/

#french {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textfrench {
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#bell {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textbell {
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#pan {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textpan {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#fruit {
  color: white;
   font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textfruit {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#burrito {
  color: white;
   font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textburrito {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#chickenbreast {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textchickenbreast {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#noodles {
  color: white;
   font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textnoodles {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#bibimbap {
  color: white;
   font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textbibimbap {
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#lasagna {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textlasagna {
  position: absolute;
  top: 130%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#spaghetti {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textspaghetti {
  position: absolute;
  top: 110%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#salmon {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#textsalmon {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

#chicken {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  }

#textchicken {
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 10px;
  color: white;
  transform: translate(-50%,-50%);
}

/*------------------------FOOTER---------------------------*/
footer {
  text-align: center;
  background-color: #f4f4f4;
  margin-top: 10px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  width: 100%;
  bottom: 0px;
}

.footer {
  font-family: arial;
  font-size: 12px;
  background-color: transparent;
}

.footer a {
  font-size: 15px;
}

.class_info {
  font-family: arial;
  font-size: 12px;
  color: #485157;
  background-color: transparent;
}

#main {
  margin-top: 0;
}

/*------------------------HEADER--------------------------*/

.header {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}

.title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-transform: uppercase:
  width: 100%;
  line-height: 13px;
  float: center;
}

.navbar {
  list-style: none;
}

.navbar a:hover {
  color: brown;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-transform: uppercase:
  width: 100%;
  line-height: 13px
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  text-transform: uppercase:
  width: 100%;
  line-height: 13px
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-transform: uppercase:
  width: 100%;
  line-height: 13px
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-transform: uppercase:
  width: 100%;
  line-height: 13px
}

h4 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-transform: uppercase:
  width: 100%;
  line-height: 13px
}

h5 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-transform: uppercase:
  width: 100%;
  line-height: 13px
}

p {
  font: arial;
  font-size: 13px;
  line-height: 12px;
  align: left;
  background-color:#fff;
}

a {
  font: arial;
  color: #999;
  text-decoration: none;
{

a hover {
  color: #888;
  text-decoration: none;
}
